.about{

    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;

    

    @include responsive(tab-small){
        grid-template-columns: 1fr;
        
    }

    &__info{
        padding: 5rem;
        transform: translateX(0);
        transition: all 1s ease-in-out;
        @include responsive(phone){
            transform: translateY(0);
        }
    }

    &__heading{
        text-transform: uppercase;
        color: $color-primary;
        margin-bottom: 6rem;
       
    }

    &__text{
        font-size: $font-default;
        color: $color-primary-light;
        text-align: center;
        
    }

    &__img{
        width: 100%;
        transform: translateX(0);
        transition: all 1s ease-in-out;
        
        @include responsive(tab-small){
            width: 70%;
            
        }
        @include responsive(phone){
            transform: translateY(0);
        }
    }
}


///////////////////
//ANIMATION
.hidden-about__info{
    
    transform: translateX(-1000px);
}
.hidden-about__img{
    width: 0;
    transform: translateX(1000px);
}
@include responsive(phone){
    .hidden-about__info{
    
        transform: translateY(100px);
    }
    .hidden-about__img{
        
        transform: translateY(100px);
    }
    
}