.features{
    
    margin: 8rem auto;
    padding: 5rem;
    
    
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem, 1fr));
    justify-content: center;
    grid-gap: 4rem;

    

    

    @include responsive(tab-L){
        grid-template-columns: repeat(2, minmax(30rem, 1fr));
        margin: 2rem auto;
        
    }
    @include responsive(phone){
        grid-template-columns:  minmax(20rem, 1fr);
        margin: 2rem auto;
    }
    

    
    
    
                
}


