.header{

    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url('/img/header.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 2rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 20% 50% 30%;
    
    align-items: center;

    @include responsive(tab-small){
        padding: 1rem;
        height: 90vh;
    }
    position: relative;
    animation: FromTop .5s;
}

.logo-box__logo{

    width: 8rem;
 
    @include responsive(tab-small){
        width: 6rem;
        margin-left: 1rem;
    }
}




.nav{
    @include responsive(phone){
        width: 8rem;
        justify-self: end;  
        
    }

    &__list{
        display: flex;
        justify-content: space-around;
        @include responsive(phone){
            display: none;
        }
    }

    &__item{
        list-style: none;    
    }

    &__link{
        
        font-weight: 300;
        color: $color-white;
        transition: all .2s;

        &:hover{
            color: $color-primary-light; 
        }

        &:link,
        &:active{
            text-decoration: none;
            font-size: $font-default;
            text-transform: uppercase;
        }

        &-h:hover{
            color: black;
        }
    }

    &__hamburger{
        display: none;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        @include responsive(phone){
            display: initial;  
            
        }

        &-icon{
            font-weight: 400;
            width: 6rem;
            height: 4rem;
            fill: $color-white;
            
        }
    }
}

.header-main{
    grid-column: 1/ -1;
    align-self: center;
    justify-self: center;
    text-align: center;
    position: relative;
    animation: FromBottom 1s;
    
}

.btn-box{
    grid-column: 1/-1;
    align-self: center;
    justify-self: center;

    &__btn{
        background-color: $color-primary;
    }
    position: relative;
    animation: FromLeft 1s ease-in;
}

//////////////////
//HAMBURGER MENU
.hamburger-menu{
    display: none;
    background-color: $color-primary-light;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

    &__icon{
        margin-right: 1rem;
        float: right;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        
    }

    &__item{
        list-style: none;
        padding: 1.5rem;
        clear: right;
        margin-top: -1px;
        border: 1px solid $color-primary-dark;
        border-collapse: collapse;
        
    }
    
    

}

