.contact{
    
    width: 90%;
    margin: 10rem auto;
    box-shadow: 0 1rem 2rem rgba(0,0,0, .3);
    background-image:  linear-gradient(105deg, 
                    rgba(255,255,255,0.9) 0%, 
                    rgba(255,255,255,0.9) 50%, transparent 50%),
                    url("/img/header.jpg");
    background-position: bottom;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    
    @include responsive(phone){  
        width: 100%;
        margin: 0;
    }

    @include responsive(tab-L){
        grid-template-columns: 1fr;

        background-image:  linear-gradient(180deg, 
                    rgba(255,255,255,0.9) 0%, 
                    rgba(255,255,255,0.9) 40%, transparent 40%),
                    url("/img/header.jpg");
                    
    }
}

.form{
   
    padding: 3rem;

    @include responsive(phone){
        margin-top: 10rem;
       
    }
   

    &__group{
        margin: 2rem 4rem;

        @include responsive(tab-P){  
            margin: 2rem 1rem;
        }
    }

    &__input,
    &__textarea{
        padding: 1.5rem;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 5px;

        @include responsive(tab-P){
            width: 100%;
        }
    }
    

    &__btn{
        width: 100%;
        border: none;
        outline: none;
        cursor: pointer;
        
    }
}

.contact-info{
    justify-self: center;

    @include responsive(phone){
        margin-top: 4rem;
    }
    
    
    &__heading{
        color: $color-primary;
    }

    & h3{
        font-size: 2rem;
        font-weight: 500;
        color: $color-primary;
        
        
    }

    &__item{
        display: flex;
        align-items: center;
        padding: 2rem;
    }

    &__icon{
        width: 3rem;
        height: 3rem;
        margin-right: 2rem;
        fill: $color-primary;
        
    }


}
